<div class="absolute-container">
	<img class="mural" src=<%=image_path('float_tank.jpg')%> alt="Float Tank"/>
	<div class="mural-text">
		<button type="button" class="btn btn-primary btn-xlarge">
			BOOK NOW
		</button>
	</div>
</div>

<div class="absolute-container">
	<div class="embed-responsive embed-responsive-16by9 mural">
	  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NOwx2uQTQQU"></iframe>
	</div>
	<p>
		Video description goes here.
	</p>
</div>


