<div>
	<img class="mural" src=<%=image_path('float_tank.jpg')%> alt="Float Tank"/>
	<div class="mural-text">
		<button type="button" class="btn btn-primary btn-lg">
			BOOK NOW
		</button>
	</div>
</div>

<div class="container">
	<div class="row-fluid">
		<div class="jumbotron">
			<h1>FLOAT TANK</h1>
			<p>Future site of Michael Berman's float tank.</p>
		</div>
	</div>
</div>
