<div class="absolute-container">
	<img class="mural" src=<%=image_path('float_tank.jpg')%> alt="Float Tank"/>
	<div class="mural-text">
		<button type="button" class="btn btn-primary btn-xlarge">
			BOOK NOW
		</button>
	</div>
</div>

<div class="absolute-container">
	<div class="embed-responsive embed-responsive-16by9 mural">
	  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NOwx2uQTQQU"></iframe>
	</div>
</div>

<p class="description">
	Video description goes here.
</p>

<div class="absolute-container">
	<img class="mural" src=<%=image_path('dreamwave.jpg')%> alt="Dream Wave"/>
	<div class="mural-text">
		<button type="button" class="btn btn-primary btn-xlarge">
			BOOK NOW
		</button>
	</div>
</div>

<p class="description">
	DreamWave description goes here.
</p>

<div class="absolute-container">
	<img class="mural" src=<%=image_path('float_tank_2.jpg')%> alt="Float Tank"/>
	<div class="mural-text">
		<button type="button" class="btn btn-primary btn-xlarge">
			BOOK NOW
		</button>
	</div>
</div>

<div class="jumbotron">
  <p>Mission statement.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


