<div class="container" style="width: 60%;">
	<h1 style="text-align:center;">Pricing & Packages</h1>

	<table class="table table-bordered table-condensed" id="pricing-table">
		<tr>
			<td><%=image_tag 'bloom_floating.png' %></td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>1 Float</h2>
				<p class="lead" style="margin-top:-10px;">$89</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>3 Float</h2>
				<p class="lead" style="margin-top:-10px;">$149</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>10 Float</h2>
				<p class="lead" style="margin-top:-10px;">$449</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
		</tr>
		<tr>
			<td><%=image_tag 'morpheus.png'%></td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>15 Minutes</h2>
				<p class="lead" style="margin-top:-10px;">$20</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>30 Minutes</h2>
				<p class="lead" style="margin-top:-10px;">$30</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>1 Hour</h2>
				<p class="lead" style="margin-top:-10px;">$45</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
		</tr>
		<tr>
			<td><%=image_tag 'sauna.png'%></td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>10 Minutes</h2>
				<p class="lead" style="margin-top:-10px;">$15</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>20 Minutes Deluxe</h2>
				<p class="lead" style="margin-top:-10px;">$20</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
			<td class="price-block" style="padding-left: 30px;">
				<h2>40 Minutes Deluxe</h2>
				<p class="lead" style="margin-top:-10px;">$30</p>
				<button type="button" class="btn btn-default price-button">select</button>
			</td>
		</tr>
	</table>
</div>