@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 50px;
}

.navbar-nav {
	padding-left: 50px;
}

.navbar-brand {
	font-size: 20px;
}

.mural {
	width: 100%;
	height: auto;
	max-height:600px;
}

.mural-text {
	position:absolute;
	bottom:70%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 20px;
    line-height: normal;
    @include button-variant(grey, black, white);
    &:hover {
    	@include button-variant(white,black,white);
    }
}

.absolute-container {
	position:relative;
	text-align: center;
	margin-bottom: 50px;
}

.description {
	text-align: center;
	font-size: 20px;
	margin-bottom: 90px;
	margin-top: -40px;
}

.jumbotron {
	margin: 10px;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
}





//Probably needs to be moved to another controller

.date-block {
	position: relative;
	height: 150px;
	width: 150px;
	margin: auto;
	border: solid #C5C7C7 3px;
	text-align: center;
	//line-height: 150px; //Needs to be same as height: 
	background-color: #C5C7C7; //light-grey
	&:hover {
		border: solid black 3px;
	}
}

.date-button {
	position:absolute;
	bottom:5%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

#calendar {
}

td {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
th {
	text-align: center;
}

