@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'font-icons';

body {
	margin-top: -11px;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.logo {
	margin-top: -24px;
}

.navbar {
	background-color: #4FC4F1;
}

.navbar-nav {
	padding-left: 50px;
	background-color: #4FC4F1;
}



.mural {
	width: 100%;
	height: auto;
	max-height:600px;
}

.mural-text {
	position:absolute;
	bottom:10%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 20px;
    line-height: normal;
    @include button-variant(grey, black, white);
    &:hover {
    	@include button-variant(white,black,white);
    }
}

.absolute-container {
	position:relative;
	text-align: center;
	margin-bottom: 50px;
}

.description {
	text-align: center;
	font-size: 20px;
	margin-bottom: 90px;
	margin-top: -40px;
}

.jumbotron {
	margin: 10px;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
}

.social-button {
	height: 50px;
	width: 50px;
	margin: 10px;
	@include button-variant(grey, black, white);
    &:hover {
    	@include button-variant(white,grey,white);
    }
}

.col-centered {
	float: none;
	margin: 0 auto;
}





//Probably needs to be moved to another controller

.date-block {
	position: relative;
	height: 150px;
	width: 150px;
	margin: auto;
	border: solid #C5C7C7 2px;
	text-align: center;
	background-color: #FFFFFF; //light-grey
	&:hover {
		border: solid black 3px;
	}
}

.date-button {
	position:absolute;
	bottom:5%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

.date-block .date-button {
	display: none;
}

.date-block:hover .date-button {
	display: inline;
}

#calendar {
}

td {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
th {
	text-align: center;
}

